<div class="container-fluid">
<h1 class="display-5 fw-bold"> Angular Quiz</h1><br>
<p class="col-md-4">>--Each question carries 10 marks</p><br>
<p>>--There is no negative marking</p><br>
<p>>--You have 15 minutes to complete the quiz</p><br>
<p>>--When you have attempted the quiz click submit to view the result</p><br>
<div class="name">
    <label>Enter your name</label>
    <input type="text" #name value="John Doe">
</div>
<button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start Quiz</button> <br><br>
<button class="btn btn-primary btn-lg" routerLink="/create" >Create a new Quiz</button>
</div>
